/* Background fullscreen */
.background {
    background: url('images/CinemaBg.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    color: white;
}

/* Logo */
.logo {
    width: 150px;
}

/* Input field */
.form-control {
    background: #333;
    color: white;
    border: none;
    padding: 10px;
}

.form-control::placeholder {
    color: #bbb;
}

/* Tombol */
.btn-danger {
    background: #e50914;
    border: none;
    padding: 10px;
    font-size: 18px;
}

.btn-danger:hover {
    background: #b20710;
}
